[Unit]
Description=sends heartbeats to alerta every 60 seconds
Documentation=https://http://docs.alerta.io/en/latest/deployment.html#house-keeping
Wants=network-online.target

[Timer]
OnUnitActiveSec=60s
Unit=alerta-heartbeat.service

[Install]
WantedBy=multi-user.target
